services:
  api:
    container_name: youtube-converter-backend
    image: tomyj/my-env:youtube-converter-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
  frontend:
    container_name: youtube-converter-frontend
    image: tomyj/my-env:youtube-converter-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "45450:45450"
    restart: unless-stopped
